<div class="nav navbar navbar-expand-md mb-4 navbar-light" style="background-color: #04C4CB;">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Client Panel</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">Dashboard</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li *ngIf="!isLoggedIn && showRegistration" class="nav-item">
          <a routerLink="register" class="nav-link">Register</a>
        </li>
        <li *ngIf="!isLoggedIn && showRegistration " class="nav-item">
          <a routerLink="login" class="nav-link">Login</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a routerLink="/" class="nav-link">{{user.email}}</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a routerLink="settings" class="nav-link">Settings</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a (click)="onLogOutClick()" style="cursor: pointer" class="nav-link">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</div>